{% extends "base.html" %}
{% block additional_scripts %}
<script type="text/javascript" src="/media/js/event.js"></script>
{% endblock %}
{% block content %}
	<h2>Gift Exchange Event</h2>
	<input type="hidden" id="txt_event" value="{{ event_string }}" />
	<div>
		<h3 id="event_status">
			{% if not event_string %}
			The event has not yet been created.
			{% elif not has_started %}
			The event has not yet started.
			{% elif not has_ended %}
			The event is in progress.
			{% else %}
			The event has ended.
			{% endif %}
		</h3>
		<input type="button" id="btn_start_event" onclick="javascript:start_event()" {% if not event_string or has_started or has_ended %}style="display:none;" {% endif %}value="Start Event" />
		<input type="button" id="btn_end_event" onclick="javascript:end_event()" {% if not event_string or not has_started or has_ended %}style="display:none;" {% endif %}value="End Event" />
		{% if has_started %}
		<h4><a href="/admin/inherit/{{ event_string }}">Create Follow Up Event</a></h4>
		{% endif %}
	</div>
	<hr />
	<table style="border='0px'">
		<tr><td>Display Name:</td><td><input type="text" id="txt_event_display_name" value="{{ event_display_name }}" /></td></tr>
		<tr><td>Money Limit:</td><td><input type="text" id="txt_money_limit" value="{{ money_limit }}" /></td></tr>
	</table>
	<hr />
	<h3>Participants</h3>
	<div>
		{% if has_started == False %}
		<input type="button" id="btn_add_participant" value="New Participant"/>
		{% endif %}
		<table id="tbl_participants">
			<thead>
				<tr>
					<th>Name</th>
					<th>Member Email</th>
					<th>Family</th>
					{% if has_started == False %}<th></th>{% endif %}
				</tr>
			</thead>
			<tbody>
			{% for participant in participant_list %}
				<tr>
					<td>{{ participant.display_name }}</td>
					<td>{{ participant.get_member().email }}</td>
					<td>{{ participant.family }}</td>
					{% if has_started == False %}<td><img src="/media/images/edit.png" class="btn_edit_row"/><img src="/media/images/delete.png" class="btn_delete_row"/></td>{% endif %}
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
	<hr />
	<div>
		<input type="button" onclick="javascript:save_to_database()" value="Save" />
		<input type="button" onclick="javascript:window.location.replace('/admin/')" value="Cancel" />
	</div>
	<div>
		<span id="span_status_message"></span>
	</div>	
	<span id="span_email_options" style="display:none;">
		<select class="member_select">
		{% for member in member_list %}
			<option value="{{ member.email }}">{{ member.email }}</option>	
		{% endfor %}
		</select>
	</span>
{% endblock %}
