{% extends "base.html" %}
{% block additional_scripts %}
<script type="text/javascript" src="/media/js/main.js"></script>
{% endblock %}
{% block content %}
	<input type="hidden" id="txt_gift_exchange_participant" value="{{ gift_exchange_participant.key.urlsafe() }}" />
    <h2>Welcome {{ gift_exchange_participant.display_name }}</h2>
    {% if gift_exchange_participant.is_target_known %}
    	<h3>You've been assigned {{ gift_exchange_participant.target }}</h3>
    	<div  class="ideas">
    		{% if target_idea_list|length > 0 %}
	        	<h4>Here's what {{ gift_exchange_participant.target }} wants:</h4>
	        	<ul>
	        	{% for target_idea in target_idea_list %}
	        		<li>{% autoescape false %}{{ target_idea }}{% endautoescape %}</li>
	        	{% endfor %}
	        	</ul>
        	{% else %}
        		<h4>{{ gift_exchange_participant.target }} hasn't asked for anything yet.</h4>
        	{% endif %}
        {% if target_participant.display_name %}
        </div>
        <p><a href="/message?gift_exchange_participant={{ gift_exchange_participant.key.urlsafe() }}">Send {{ gift_exchange_participant.target }} an anonymous email asking for more information</a></p>
        {% endif %}
    {% else %}
        <h3>You don't have somebody to give a gift to yet.</h3>
        <input type="button" onclick="javascript:get_assignment()" value="Get Assignment" />
    {% endif %}
   	<div>
   		<h4>Here's what you are asking for (Remember this should cost around {{ money_limit }}):</h4>
		<input type="button" id="btn_add_idea" value="Add Idea"/>
		<table id="tbl_ideas">
			<!-- TODO: set column widths -->
			<tbody>
			{% for idea in gift_exchange_participant.idea_list %}
				<tr>
					<td>{{ idea }}</td>
					<td><img src="/media/images/edit.png" class="btn_edit_row"/><img src="/media/images/delete.png" class="btn_delete_row"/></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
    	<input type="button" onclick="javascript:update_ideas()" value="Save Ideas" />
	</div>
    <div>
		<i><span id="span_status_message"></span></i>
	</div>
{% endblock %}
