body 
{
	background-color: #F2F2F2;
	color: #0066CC;
	font-family: "Lucida Sans", "Gill Sans MT", "Gill Sans", GillSans, Arial, sans-serif;
	line-height: 1.3;
	padding-left: 2em;
}

a:active { color: red; }

a:link { color: #0000E6; }
a:visited { color: #0000E6; }
a:hover { color: #000066; }

div.ideas 
{ 
	color: #006600; 
	border: 1px solid; 
	display: inline-block; 
	padding: 10px; 
	width: 650px;
}

span.error 
{
	text-align: center;
	color: #990000;	
}

div.toolbar 
{
	text-align: right; 
	padding-bottom: 4px;
}

hr 
{
	color: #003300;
	background-color: #003300;
	height:3px;
}

/*---------------*/
div.login 
{
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 20em;
}

table.big_table
{
	font-size: 175%;
	border-spacing: 10px;
}

.idea_text
{
	width: 100%;
}

table#tbl_ideas
{
	border: 1px solid;
	border-collapse: collapse;
	border-bottom: 2px solid;
	min-width: 600px;
	margin-bottom: 5px;
}

table#tbl_ideas tr
{
	outline: 1px solid;
}


input[type=submit], input[type=button], .submit-row input { background:white;  bottom repeat-x; padding:3px; color:black; border:1px solid #bbb; border-color:#ddd #aaa #aaa #ddd; }
input[type=submit]:active, input[type=button]:active {  background-position:top; }
input[type=submit].default, .submit-row input.default { border:2px solid #5b80b2; background:#7CA0C7;  bottom repeat-x; font-weight:bold; color:white; }
input[type=submit].default:active { background-position:top; }

